{% extends 'navbar.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
     rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
     crossorigin="anonymous">
</head>
<body>
    {% if con_name %}
        <center>
            <h2>Thanks {{con_name}}!</h2>
            <p>We received your email. Thanks for contacting us.</p>
        </center>
    {% else %}
    <center>
    <div class="d-flex align-items-center justify-content-center" style="min-height: 75vh;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                            <h1>Contact us</h1>
                            <hr>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="Name" class="form-label"><h6 class="my-0">Your Name</h6></label>
                                    <input type="Name" class="form-control" name="Name" placeholder="ABC.." style="font-style: italic;">
                                </div>
                                <div class="mb-3">
                                    <label for="Email" class="form-label"><h6>Email address</h6></label>
                                    <input type="email" class="form-control" name="Email_addr" placeholder="name@example.com" style="font-style: italic;">
                                </div>
                                <div class="mb-3">
                                    <label for="Subject" class="form-label"><h6>Message</h6></label>
                                    <textarea class="form-control" name="msg" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <img src="{% static 'Images/Contact-us.png' %}" class="img-fluid" alt="Contact us image">
                </div>
            </div>
        </div>
    </div>
    </center>
    {% endif%}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>
</html>

{% endblock %}
